@model PromptQuest.Models.Player

@{
	ViewData["Title"] = "Character Creation";
	bool isUserLoggedIn = User.Identity?.IsAuthenticated == true;
	// Get User's profile image
	string userProfileImage = User.FindFirst("GoogleProfileImageUrl")?.Value;
	// Something went wrong, show the default image.
	if(userProfileImage == null) {
		userProfileImage = "";
	}
}

<header>
	<!-- Login Display -->
	<div class="login-display pq-element">
		@if(isUserLoggedIn) {
			<img src="@userProfileImage" alt="User Profile Image" />
			<a class="pq-link" href="/Account/SignOutFromGoogleLogin">Logout</a>
		}
		else {
			<a class="pq-link" href="/Account/GoogleLogin">Login with Google</a>
		}
	</div>
</header>
<div class="container-fluid BackgroundColorDark" style="padding:25px;">
	<div class="row justify-content-center h-100">
		<div class="col-6 text-center" style="border: 2px solid white; border-radius: 150px; padding:45px;">
			<img src="~/images/Warrior.png" alt="Default Player Portrait" id="player-image" style="border: 2px solid white; margin-bottom: 35px; width: 392px; height:392px;">
			<div class="row justify-content-center">
				<form asp-controller="Game" asp-action="CreateCharacter" method="post">
					<div class="form-group row">
						<div class="col d-flex justify-content-center">
							<input asp-for="Name" type="text" minlength="1" maxlength="25" class="form-control pq-form-control" id="name" name="name" style="border: 2px solid white; width:392px; height:52px;" placeholder="Enter Character's Name" />
						</div>
					</div>
					<div class="row" style="margin-bottom:22px;">
						<span asp-validation-for="Name" class="text-danger"></span>
					</div>
					<div class="form-group row">
						<div class="col d-flex justify-content-center">
							<select asp-for="Class" class="form-control pq-form-control" id="class-select" onchange="updatePlayerImage()" style="margin-bottom:22px; border: 2px solid white; width:392px; height:52px;">
								<option value="Warrior">Warrior</option>
								<option value="Mage">Mage</option>
								<option value="Archer">Archer</option>
							</select>
							<span asp-validation-for="Class" class="text-danger"></span>
						</div>
					</div>
					<div class="form-group row">
						<div class="col">
							<button type="submit" id="createCharacterButton" class="MenuButton d-inline-block" style="background-color:darkgreen; padding:5px; width: 277px; height:63px;">Start Adventure</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script>
		function updatePlayerImage() {
			var classSelect = document.getElementById("class-select");
			var playerImage = document.getElementById("player-image");
			switch (classSelect.value) {
				case "Warrior":
					playerImage.src = "/images/Warrior.png";
					break;
				case "Mage":
					playerImage.src = "/images/Mage.png";
					break;
				case "Archer":
					playerImage.src = "/images/Archer.png";
					break;
			}
		}
	</script>
}