@model PromptQuest.Models.Player

@{
	ViewData["Title"] = "Character Creation";
	bool isUserLoggedIn = User.Identity?.IsAuthenticated == true;
	// Get User's profile image
	string userProfileImage = User.FindFirst("GoogleProfileImageUrl")?.Value;
	// Something went wrong, show the default image.
	if(userProfileImage == null) {
		userProfileImage = "";
	}
}

<div class="pq-container">
	<!-- Login Display -->
	<div class="login-display" style="top: 0; left: 0; height: 8vmin; width: 20vmin;">
		@if(isUserLoggedIn) {
			<img src="@userProfileImage"/>
		<a class="pq-link" href="/Account/SignOutFromGoogleLogin">Logout</a>
		}
		else {
			<a class="pq-link" href="/Account/GoogleLogin">Login with Google</a>
		}
	</div>
	<div class="pq-container pq-center-element-x" style="height: 100%; width: 60%; top: 0; left: 50%; border: .1vmin solid white; border-radius: 50px;">
		<div class="pq-container pq-center-element-x" style="height: 60%; width: 95%; top: 5%; left: 50%;">
			<div id="player-image-loader" class="loader pq-center-element-x" style="display:none; top: 40%; left: 22%;"></div>
			<img alt="Image of your character" id="player-image" style="display: none; height: auto; width: 50%; top:0; left: 0%; border: .1vmin solid white; max-height: 100%;">
			<textarea class="pq-form-control" id="description" placeholder="What does your character look like?" style="height: 85%; width: 45%; top:0; left: 52%; resize: none; border: .1vmin solid white; max-height: 100%; margin-top:0;"></textarea>
			<button id="preview-btn" class="pq-button" style="width: auto; bottom:0; left: 52%; background-color:darkgreen;">Take a look</button>
		</div>
		<form asp-controller="Game" asp-action="CreateCharacter" method="POST" class="pq-form" style="height: 35%; width: 70%; bottom:0; left: 1%;">
			<input asp-for="Name" type="text" minlength="1" maxlength="25" class="pq-form-control" id="name" name="name" placeholder="Enter Character's Name" />
			<span asp-validation-for="Name" class="pq-validation-text"></span>
			<select asp-for="Class" id="class-select" class="pq-form-control">
				<option value="Warrior">Warrior</option>
				<option value="Mage">Mage</option>
				<option value="Archer">Archer</option>
			</select>
			<span asp-validation-for="Class" class="text-danger"></span>
			<select asp-for="Passive" id="passive-select" class="pq-form-control">
				<option value="1">Heavy Smash</option>
				<option value="2">Spiked Bulwark</option>
				<option value="3">Arcane Recovery</option>
				<option value=4>Mana Burn</option>
				<option value=5>Quick Shot</option>
				<option value=6>Poison Weapons</option>
			</select>
			<span asp-validation-for="Passive" class="text-danger"></span>
			<div class="pq-font" id="passive-description">No Passive</div>
			<!-- Dummy field that is invisible. Used to pass the base 64 string of the player's image up with the form. -->
			<input asp-for="Image" id="player-image-data" style="display:none;"/>
			<span asp-validation-for="Image" class="text-danger"></span>
			<button type="submit" id="create-character-btn" class="pq-button" style="background-color:darkgreen; margin-top:20px;">Start Adventure</button>
		</form>
		
	</div>
</div>

<script src="~/js/Passives.js"></script>
<script src="~/js/CreateCharacter.js"></script>
