@{
	ViewData["Title"] = "Game";
}

<div class="container-fluid BackgroundColorDark text-center">
	<!--Dialog box row-->
	<div class="row justify-content-center" style="margin-top:13vh;">
		<div class="col-6">
			<div class="text-start DialogBox" style="padding:10px; height:20vh; border: 2px solid white; color: white;"></div>
		</div>
	</div>
	<!--Player display, Enemy display, and Combat Buttons display row-->
	<div class="row justify-content-between" style="margin-top:10vh; padding-left: 30px; padding-right:30px">
		<!--Player column-->
		<div class="col" id="player-display" style="max-width: fit-content">
			<!--Player name-->
			<div class="text-start" id="player-name" style="font-size: 3vh; padding-left: 10px; padding-right: 10px; height: 4vh; width: auto; color: white; "></div>
			<!--So that the player portrait and potions are inline-->
			<div class="d-flex float-start" style="height: fit-content; width: fit-content;">
				<!--Player image-->
				<img class="float-start" id="player-image" style="height: 36vh; width: auto; border: 2px solid white;">
				<!--Potion icon-->
				<img class="align-self-end" style="height: 8vh; width: auto;" src="~/images/PotionIcon.png" alt="Potion Icon">
				<!--Number of health potions-->
				<div class="align-self-end PQFont AutoScale" id="player-health-potions" style="font-size: 3vh; height: 6vh;"></div>
			</div>
			<div class="text-start" style="font-size: 3vh; padding-left: 10px; padding-right: 10px; height: 4vh; width: auto; color: white;">
				<!--Player Attack icon-->
				<img class="align-self-end" style="height: 5vh; width: auto;" src="~/images/SwordIcon.png" alt="Attack Icon">
				<!--Player attack stat-->
				<span class="text-start p-0" id="player-attack" style="font-size: 3vh; height: 4vh; width: auto; color: white; "></span>
				<!--Player Defense icon-->
				<img class="align-self-end" style="height: 5vh; width: auto;" src="~/images/ShieldIcon.png" alt="Shield Icon">
				<!--Player Defense stat-->
				<span class="text-start p-0" id="player-defense" style="font-size: 3vh; height: 4vh; width: auto; color: white; "></span>
				<!--Player health-->
				<span class="text-start px-2" id="player-hp" style="font-size: 3vh; height: 4vh; width: auto; color: white;"></span>
			</div>
		</div>
		<!--Combat buttons Column-->
		<div class="col-auto" id="combat-buttons-display" style="">
			<!--Attack Button-->
			<button class="MenuButton PQBorder PQFont px-5 mb-3 d-block" id="attack-btn" style="height:6vh; width: 100%; font-size: 3vh;"> Attack </button>
			<!--Defense Button-->
			<button class="MenuButton PQBorder PQFont px-5 d-block" id="health-potion-btn" style="height:6vh; width: 100%; font-size: 3vh;"> Use Potion </button>
		</div>
		<!--Enemy Column--><!--Margin-left so that it doesn't offset the comabt buttons-->
		<div class="col" id="enemy-display" style="max-width: fit-content; margin-left: 8vh">
			<!--Enemy name-->
			<div class="text-start" id="enemy-name" style="font-size: 3vh; padding-left: 10px; padding-right: 10px; height: 4vh; width: auto; color: white; "> </div>
			<!--Enemy image-->
			<img class="float-end" id="enemy-image" style="height: 36vh; width: auto; border: 2px solid white;">
			<div class="text-start" style="font-size: 3vh; padding-left: 10px; padding-right: 10px; height: 4vh; width: auto; color: white;">
				<!-- Enemy attack icon-->
				<img class="align-self-end" style="height: 5vh; width: auto;" src="~/images/SwordIcon.png" alt="Attack Icon">
				<!--Enemy attack stat-->
				<span class="text-start p-0" id="enemy-attack" style="font-size: 3vh; height: 4vh; width: auto; color: white; "></span>
				<!--Enemy defense icon-->
				<img class="align-self-end" style="height: 5vh; width: auto;" src="~/images/ShieldIcon.png" alt="Shield Icon">
				<!--Enemy defense stat-->
				<span class="text-start p-0" id="enemy-defense" style="font-size: 3vh; height: 4vh; width: auto; color: white; "></span>
				<!--Enemy health-->
				<span class="text-start px-2" id="enemy-hp" style="font-size: 3vh; padding-right: 10px; height: 4vh; width: auto; color: white; "></span>
			</div>
		</div>
	</div>

</div>

<script>
	history.pushState(null, null, window.location.href);
	window.onpopstate = function() {
			history.go(1);
	};
</script>

<script src="~/js/Game.js"></script>