@{
	ViewData["Title"] = "Game";
	bool isUserLoggedIn = User.Identity?.IsAuthenticated == true;
	// Get User's profile image
	string userProfileImage = User.FindFirst("GoogleProfileImageUrl")?.Value;
	// Something went wrong, show the default image.
	if(userProfileImage == null) {
		userProfileImage = "";
	}
}

<link rel="stylesheet" href="~/css/CreateCharacter.css">
<link rel="stylesheet" href="~/css/Inventory.css">

<div id="game-container" class="container-fluid" style="background-image:none;">
	<div class="row organizer">
		<img class="bg-image" id="bg-image" src="~/images/campsite.png" />
		<!-- Header Row -->
		<div class="col-12" id="header">
			<!-- Login Display -->
			<div class="login-display" style="height: 100%; width: fit-content;">
				@if(isUserLoggedIn) {
					<img src="@userProfileImage" />
					<a class="pq-link" href="/Account/SignOutFromGoogleLogin">Logout</a>
				}
				else {
					<a class="pq-link" href="/Account/GoogleLogin">Login with Google</a>
				}
			</div>
			<!-- Menu Button -->
			<button class="pq-button" id="menu-btn" style="height: 100%; width: fit-content;">Menu</button>
		</div>

		<!-- Dialog Box Module -->
		<div class="col-12" id="dialog">
			<div id="dialog-box"></div>
		</div>

		<!-- Player Module -->
		<div class="col-4" id="player">
			<div class="position-relative character-display" id="player-display">
				<!-- Player Damage Indicator -->
				<div id="player-damage-indicator"
						 style="top: 10%; left: 90%; height: 70%; width: auto;
						font-size: 50px; font-weight: bold; font-family: 'texture', sans-serif;
						text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
						opacity: 0; transition: opacity 1.0s ease-out, transform 2.0s ease-out;">
				</div>
				<div class="player-name name-text" style="top: 0%; left: 4%; height: 10%; width: 75%; "></div>
				<img class="player-image pq-border" id="player-image" src="~/images/BlankImage.png" style="top: 10%; left: 3%; height: auto; width: 75%;" />
				<button id="open-map-btn" class="map-btn" style="top: 65%; left: 5%; height: 15%; width: 15%; background: none; border: none; padding: 0; cursor: pointer;">
					<img src="~/images/MapIcon.png" alt="Alternate Text" style="max-height:100%; " />
				</button>
				<button id="open-inventory-btn" class="map-btn" style="top: 47%; left: 5%; height: 15%; width: 15%; background: none; border: none; padding: 0; cursor: pointer;">
					<img src="~/images/InventoryIcon.png" alt="Alternate Text" style="max-height:100%; " />
				</button>
				<div id="player-health-bar-container" class="pq-border" style="top: 10%; left: 81%; width: 5%; height: 55%; position: relative; overflow: hidden;">
					<div id="player-health-bar" style="width: 100%; background-color: darkred; position: absolute; bottom: 0; transition: height 1.0s ease-in-out;"></div>
				</div>
				<img class="player-potions-icon" src="~/images/PotionIcon.png" alt="Potion Icon" style="top: 70%; left: 76%; height: 15%; width: auto;">
				<div class="player-potions stat-text" id="player-health-potions" style="top: 74%; left: 89%;"></div>
				<img class="player-attack-icon" src="~/images/SwordIcon.png" alt="Attack Icon" style="bottom: 0; left: 12%; height: 15%; width: auto;">
				<span class="player-attack stat-text" id="player-attack" style="bottom: 0%; left: 25%;">0</span>
				<img class="player-defense-icon" src="~/images/ShieldIcon.png" alt="Shield Icon" style="bottom: 0; left: 45%; height: 15%; width: auto;">
				<span class="player-defense stat-text" id="player-defense" style="bottom: 0%; left: 58%;">0</span>
			</div>
		</div>

		<!-- Action Buttons Module -->
		<div class="col" id="buttons">
			<div class="btn-stack" id="action-button-display">
				<button class="pq-button" id="attack-btn">Attack</button>
				<button class="pq-button" id="health-potion-btn">Use Potion</button>
				<button class="pq-button position-relative" id="ability-btn">
					<img class="player-ability-icon" id="ability-cooldown-icon" src="~/images/0_6_Clock.png" alt="Cooldown Icon" style="float: inline-start; align-self: center; height: auto; width: 0%; max-height: 100%; max-width: 100%">
					Active Ability
				</button>
			</div>
			<!-- Campsite Buttons Display -->
			<div class="btn-stack" id="campsite-button-display">
				<button class="pq-button" id="rest-btn" style="">Rest</button>
				<button class="pq-button" id="skip-rest-btn" style="">Sleep is For the Weak</button>
			</div>
			<!-- Event Buttons Display -->
			<div class="btn-stack" id="event-button-display">
				<button class="pq-button" id="accept-btn" style="">Accept</button>
				<button class="pq-button" id="deny-btn" style="">Deny</button>
			</div>
			<!-- Treasure Buttons Display -->
			<div class="btn-stack" id="treasure-button-display">
				<button class="pq-button" id="open-treasure-btn" style="">Open</button>
				<button class="pq-button" id="skip-treasure-btn" style="">Seems Like a Trap...</button>
			</div>
			<!-- Shop Buttons Display -->
			<div class="btn-stack" id="shop-button-display">
			</div>
		</div>

		<!-- Enemy Module -->
		<div class="col-4" id="enemy">
			<div class="position-relative character-display" id="enemy-display">
				<div id="enemy-health-bar-container" class="pq-border" style="top: 10%; left: 14%; width: 5%; height: 75%; position: relative; overflow: hidden; text-align: start">
					<div id="enemy-health-bar" style="width: 100%; background-color: darkred; position: absolute; bottom: 0; transition: height 1.0s ease-in-out;"></div>
				</div>
				<!-- Enemy Damage Indicator -->
				<div id="enemy-damage-indicator"
						 style="top: 10%; right: 90%; height: 70%; width: auto; z-index: 99;
			 			font-size: 50px; font-weight: bold; font-family: 'texture', sans-serif;
			 			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
			 			opacity: 0; transition: opacity 1.0s ease-out, transform 2.0s ease-out;">
				</div>
				<div class="name-text" id="enemy-name" style="top: 0%; right: 4%; height: 10%; width: 75%; "></div>
				<img class="enemy-image" id="enemy-image" src="~/images/BlankImage.png" style="top: 10%; right: 3%; height: auto; width: 75%;" />
				<img class="enemy-attack-icon" src="~/images/SwordIcon.png" alt="Attack Icon" style="bottom: 0; right: 56%; height: 15%; width: auto;">
				<span class="enemy-attack stat-text" id="enemy-attack" style="bottom: 1%; right: 46%;"></span>
				<img class="enemy-defense-icon" src="~/images/ShieldIcon.png" alt="Shield Icon" style="bottom: 0; right: 24%; height: 15%; width: auto;">
				<span class="enemy-defense stat-text" id="enemy-defense" style="bottom: 1%; right: 22%;"></span>
				<span class="enemy-hp stat-text" id="enemy-hp" style="bottom: 3%; right: 5%;"></span>
				<img class="bleeding-indicator" id="bleeding-indicator" src="~/images/BleedingIndicator.png" alt="Bleeding Indicator" style="top: 75%; left: 4%; height: 10%; width: auto;">
				<img class="burning-indicator" id="burning-indicator" src="~/images/BurningIndicator.png" alt="Burning Indicator" style="top: 65%; left: 4%; height: 10%; width: auto;">
			</div>
		</div>
	</div>
</div>

<!-- Inventory Window -->
<div class="container-fluid" id="inventory" style="visibility: hidden; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: var(--background-color-primary); z-index: 950;">
	<div class="row organizer">
		<!-- Close Button -->
		<div class="col-12" id="inventory-header">
			<button class="pq-button px-5 pq-font-normal" id="close-inventory-btn" style="height: 100%; width: fit-content; max-height: 100%; margin-left: auto; display: block; line-height: 1; padding:0; padding-left: 5%; padding-right: 5%;">
				Close
			</button>
		</div>
		<!-- Player Info and Stats Section -->
		<div class="col" id="inventory-player-section">
			<div id="inventory-player-info">
				@* <div class="player-name name-text" style="height: 10%; width: 100%; max-width: 100%; max-height: 10%; line-height: 1; font-size: 1.5rem;"></div> *@
				<img class="player-image pq-border" style="aspect-ratio: 1; height: 100%; width: auto; max-width: 100%;" src="~/images/LoadingImage.png" alt="Player Portrait" />
			</div>

			<div id="inventory-stats" style="flex-direction: column;">
				<div class="pq-font-large" style="height: 15%; width: 100%; line-height: 1; padding-bottom: 5px;">Abilities</div>
				<div class="position-relative pq-border" style="height: 65%; width: 100%; padding: .5rem; display: flex; flex-direction: row; overflow-y: auto; flex-wrap: wrap; align-content: flex-start;">
					<div style="height: fit-content; width: 100%; font-size: 1rem;">
						<span class="ability-text" id="player-passive" style="">nothing yet</span>
					</div>
					<div style="height: fit-content; min-width:100%; font-size: 1rem;">
						<span class="ability-text" id="player-active">nothing yet</span>
					</div>
				</div>
				<div style="height: 20%; max-height: 3rem; width: 100%; overflow: auto; display: flex; flex-direction: row; padding: 2px; flex-wrap: nowrap">
					<div style="height: 100%; width: fit-content; display: flex; flex-wrap: nowrap;">
						<img class="player-defense-icon" src="~/images/ShieldIcon.png" alt="Shield Icon" style="display: inline; height: 100%; width: auto;">
						<span class="player-defense pq-font-normal" id="player-defense" style="">0</span>
					</div>
					<div style="height: 100%; width: fit-content; padding-left: 2px; display: flex; flex-wrap: nowrap;">
						<img class="player-attack-icon" src="~/images/SwordIcon.png" alt="Attack Icon" style="height: 100%; width: auto;">
						<span class="player-attack pq-font-normal" id="player-attack" style="">0</span>
					</div>
					<div style="height: 100%; width: fit-content; padding-left: 2px; display: flex; flex-wrap: nowrap;">
						<img id="gold-image" src="~/images/GoldCoin.png" style="height: 100%; width: auto;" />
						<span class="pq-font-normal" id="gold-display" style=""></span>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Inventory Section -->
		<div class="col" id="inventory-main">
			<div class="pq-border" id="inventory-container" style="height: 100%; width: 100%;">

				<!-- Equipment Slots -->
				<div id="equipment-grid-container">
					<div id="equipped-weapon" class="pq-inventory-slot"></div>
					<div id="equipped-helm" class="pq-inventory-slot"></div>
					<div id="equipped-chest" class="pq-inventory-slot"></div>
					<div id="equipped-legs" class="pq-inventory-slot"></div>
					<div id="equipped-boots" class="pq-inventory-slot"></div>
					<button id="equip-btn" class="pq-inventory-slot pq-button pq-font">Equip Item</button>
				</div>

				<!-- Item Details Display -->
				<div class="" id="item-details-container">
					<div id="item-details">
						<!-- Left side - Image -->
						<div class="image-container">
							<img id="item-image" src="~/images/BlankImage.png" alt="Item Image">
						</div>

						<!-- Right side - Content -->
						<div class="content-container">
							<!-- Text section -->
							<div class="text-section">
								<div id="item-name" class="pq-font-large"></div>
								<div id="item-type" class="pq-font-normal"></div>
								<div id="item-passive" class="pq-font-small"></div>
								<div id="item-status-effects" class="pq-font-small"></div>
							</div>

							<!-- Stats section -->
							<div class="stats-section">
								<div class="stat-item">
									<img id="shield-icon" src="~/images/ShieldIcon.png" alt="Defense" class="stat-icon">
									<div id="item-defense" class="pq-font stat-value">+2</div>
								</div>
								<div class="stat-item">
									<img id="sword-icon" src="~/images/SwordIcon.png" alt="Attack" class="stat-icon">
									<div id="item-attack" class="pq-font stat-value">+0</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Inventory Grid -->
				<div class="pq-inventory-display" id="inventory-grid" style="">
					@for(int i = 1;i <= 20;i++) {
						<div class="pq-inventory-slot" id="inventory-slot-@i"></div>
					}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Overlay to make the background behind window's dark and not clickable -->
<div id="overlay" style=""></div>

<!-- Game Menu -->
<div class="pq-center-element BackgroundColorDark" id="menu">
	<button class="pq-button" id="continue-btn" style="margin-bottom:2vmin; width: 100%;">Continue</button>
	<button class="pq-button" id="tutorial-btn" style="margin-bottom:2vmin; width: 100%;">View Tutorial</button>
	<button class="pq-button" id="options-btn" style="margin-bottom:2vmin; width: 100%;">Options</button>
	<button class="pq-button" id="quit-btn" style="margin-bottom:2vmin; width: 100%;">Return to Main Menu</button>
</div>

<!-- Map -->
<div id="map" class="organizer">
	<div style="justify-content: space-between; align-content: flex-start;">
		<div id="floor-tracker"></div>
		<button class="map-btn" id="close-map-btn">
			<img src="~/images/MapCloseIcon.png" alt="Alternate Text" style="max-height:100%; " />
		</button>
	</div>
	<div class="pq-map-display" id="map-container">
	</div>
	<div style="justify-content: flex-end; align-items: flex-end;">
		<button id="floor-btn">
			<img src="~/images/NextFloorIcon.png" alt="Move to next floor button" />
		</button>
	</div>
	<div class="pq-font" id="legend" style="top:0%; left:0%; height:5%; width:10%; color: black; font-size:0; font-family: 'texture', sans-serif">Legend</div>
	@* 	<div class="pq-font legend-item" style="top:10%; left:0%; height:15%; width:90%; color: black; font-size:3vmin; font-family: 'texture', sans-serif">Enemy:</div>
	<div class="pq-font legend-item" style="top:10%; left:7%; height:15%; width:90%; color: black; font-size:3vmin; font-family: 'texture', sans-serif">No Icon</div>
	<div class="pq-font legend-item" style="top:15%; left:0%; height:15%; width:90%; color: black; font-size:3vmin; font-family: 'texture', sans-serif">Elite:</div>
	<img src="/images/EliteEnemyIcon.png" class="legend-item" style="top:15%; left:7%; height:5%; width:auto; "/>
	<div class="pq-font legend-item" style="top:20%; left:0%; height:15%; width:90%; color: black; font-size:3vmin; font-family: 'texture', sans-serif">Shop:</div>
	<img src="/images/shop.png" class="legend-item"  style="top:20%; left:7%; height:5%; width:auto; " />
	<div class="pq-font legend-item" style="top:25%; left:0%; height:15%; width:90%; color: black; font-size:3vmin; font-family: 'texture', sans-serif">Treasure:</div>
	<img src="/images/treasure.png" class="legend-item" style="top:25%; left:7%; height:5%; width:auto; " />
	<div class="pq-font legend-item" style="top:30%; left:0%; height:15%; width:90%; color: black; font-size:3vmin; font-family: 'texture', sans-serif">Event:</div>
	<img src="/images/event.png" class="legend-item" style="top:30%; left:7%; height:5%; width:auto; " />
	<div class="pq-font legend-item" style="top:35%; left:0%; height:15%; width:90%; color: black; font-size:3vmin; font-family: 'texture', sans-serif">Camp:</div>
	<img src="/images/campsite.png" class="legend-item" style="top:35%; left:7%; height:5%; width:auto; " />
	<div class="pq-font legend-item" style="top:40%; left:0%; height:15%; width:90%; color: black; font-size:3vmin; font-family: 'texture', sans-serif">Boss:</div>
	<img src="/images/BossIcon.png" class="legend-item" style="top:40%; left:7%; height:5%; width:auto; " /> *@
</div>

<!-- Respawn Modal -->
<div class="modal fade" id="respawnModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="respawnModalLabel" aria-hidden="true">
	<div class="modal-dialog pq-border pq-font text-light">
		<div class="modal-content BackgroundColorDark p-2">
			<div class="modal-header" style="border:none;">
				<h5 class="modal-title" id="respawnModalLabel">You have been defeated!</h5>
			</div>
			<div class="modal-body" style="border:none;">
				Press the button below to respawn and fight again.
			</div>
			<div class="modal-footer" style="border:none;">
				<button type="button" id="respawn-btn" class="btn pq-button pq-font">Respawn</button>
			</div>
		</div>
	</div>
</div>

<!-- Tutorial Modal -->
<div class="modal fade" id="tutorial-popup" tabindex="-1" aria-labelledby="tutorialModalLabel" aria-hidden="true" style="display:none;">
	<div class="modal-dialog pq-border pq-font text-light">
		<div class="modal-content BackgroundColorDark p-2">
			<div class="modal-header" style="border:none;">
				<h5 class="modal-title" id="tutorialModalLabel">Welcome to the tutorial!</h5>
				<button type="button" class="btn-close" style="color:white;" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" id="tutorialText" style="border:none;">
				@*text will be filled out via JS*@
			</div>
			<div class="modal-footer" style="border:none;">
				<button type="button" id="skip-tutorial-btn" class="btn pq-button pq-font">Skip Tutorial</button>
			</div>
		</div>
	</div>
</div>

<script src="~/js/ServerHelper.js"></script>
<script src="~/js/Passives.js"></script>
<script src="~/js/Menu.js"></script>
<script src="~/js/Game.js"></script>
<script src="~/js/Tutorial.js"></script>

<script>
	function adjustLayout() {
			// const isPortrait = (window.innerHeight / window.innerWidth > 1);
			const isPortrait = (window.innerHeight / window.innerWidth > 1);
			const containers = document.querySelectorAll('.organizer');

			containers.forEach((container) => {
				if (isPortrait) {
						container.classList.remove('landscape-layout');
						container.classList.add('portrait-layout');
				} else {
						container.classList.add('landscape-layout');
						container.classList.remove('portrait-layout');
				}
			});
		refreshMap();
	}

	// Run on load and when resizing
	window.addEventListener('load', adjustLayout);
	window.addEventListener('resize', adjustLayout);
</script>