@{
	ViewData["Title"] = "Game";
	bool isUserLoggedIn = User.Identity?.IsAuthenticated == true;
	// Get User's profile image
	string userProfileImage = User.FindFirst("GoogleProfileImageUrl")?.Value;
	// Something went wrong, show the default image.
	if(userProfileImage == null) {
		userProfileImage = "";
	}
}

<div class="pq-container">
	<!-- Menu Button -->
	<div class="menu-button pq-element">
		<button class="pq-button" data-bs-toggle="modal" data-bs-target="#gameModal">Menu</button>
	</div>
	<!-- Login Display -->
	<div class="login-display pq-element">
		@if(isUserLoggedIn) {
			<img src="@userProfileImage" alt="User Profile Image" />
			<a class="pq-link" href="/Account/SignOutFromGoogleLogin">Logout</a>
		}
		else {
			<a class="pq-link" href="/Account/GoogleLogin">Login with Google</a>
		}
	</div>
	<!-- Dialog Box -->
	<div class="dialog-box pq-element"></div>
	<!-- Player Display -->
	<div class="player-display pq-element pq-container" id="player-display">@*This also a pq-container so that the below elements can be positioned freely.*@
		<div class="player-name pq-element"></div>
		<img class="player-image pq-element" src="~/images/LoadingImage.png" />
		<img class="player-potions-icon pq-element" src="~/images/PotionIcon.png" alt="Potion Icon">
		<div class="player-potions stat-text pq-element" id="player-health-potions"></div>
		<img class="player-attack-icon pq-element" src="~/images/SwordIcon.png" alt="Attack Icon">
		<span class="player-attack stat-text pq-element" id="player-attack">0</span>
		<img class="player-defense-icon pq-element" src="~/images/ShieldIcon.png" alt="Shield Icon">
		<span class="player-defense stat-text pq-element" id="player-defense">0</span>
		<span class="player-hp stat-text pq-element" id="player-hp"></span>
	</div>
	<!-- Action Buttons Display -->
	<div class="action-button-display pq-element" id="action-button-display">
		<button class="pq-button" id="attack-btn">Attack</button>
		<button class="pq-button" id="health-potion-btn">Use Potion</button>
	</div>
	<!-- Enemy Display -->
	<div class="enemy-display pq-element pq-container" id="enemy-display">@*This also a pq-container so that the below elements can be positioned freely.*@
		<div class="enemy-name pq-element" id="enemy-name"></div>
		<img class="enemy-image pq-element" id="enemy-image" src="~/images/LoadingImage.png" />
		<img class="enemy-attack-icon pq-element" src="~/images/SwordIcon.png" alt="Attack Icon">
		<span class="enemy-attack stat-text pq-element" id="enemy-attack">0</span>
		<img class="enemy-defense-icon pq-element" src="~/images/ShieldIcon.png" alt="Shield Icon">
		<span class="enemy-defense stat-text pq-element" id="enemy-defense">0</span>
		<span class="enemy-hp stat-text pq-element" id="enemy-hp"></span>
	</div>
</div>

<!-- Menu Modal -->
<div class="modal fade" id="gameModal" tabindex="-1" aria-labelledby="gameModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen">
		<div class="modal-content BackgroundColorDark">
			<div class="modal-header">
				<div class="modal-title" id="modal-label" style="font-size: 4vh; padding-left: 20px; padding-right: 10px; height: 4vh; width: auto; color: white; ">Menu</div>
				<button type="button" class="MenuButton PQBorder PQFont px-5 mb-3 d-block" style="height:4vh; font-size: 2vh;" data-bs-dismiss="modal" aria-label="Close">Close</button>
			</div>
			<div class="modal-body">
				<div class="row justify-content-between" style="padding-left: 30px; padding-right:30px">
					<!--Player column-->
					<div class="col" id="player-display" style="max-width: fit-content; padding: 0px;">
						<!--Player name-->
						<div class="player-name text-start" id="player-name" style="font-size: 3vh; padding-left: 10px; padding-right: 10px; height: 4vh; width: auto; color: white; "></div>
						<div class="row" style="margin-bottom: 3px;">
							<!--So that the player portrait is inline-->
							<div class="d-flex float-start" style="height: fit-content; width: fit-content;">
								<!--Player image-->
								<img class="player-image float-start" id="player-image" src="~/images/LoadingImage.png" style="height: 36vh; width: auto; border: 2px solid white;">
							</div>
						</div>
						<div class="text-start" style="font-size: 3vh; height: 4vh; width: auto; color: white;">
							<!--Stats label-->
							<div class="row" style="margin-bottom: 3px;">
								<div class="text-start" id="stats-label" style="font-size: 3vh; padding-left: 20px; padding-right: 10px; height: 4vh; width: auto; color: white; ">Stats</div>
							</div>
							<!--Player Stat Box-->
							<div class="float-start" style="border: 2px solid white; width:469.8px; padding: 30px; display: inline-block;">
								<!--Player Health row-->
								<div class="row" style="margin-top: 0px">
									<span class="text-start p-0" id="health-label" style="font-size: 3vh; height: 4vh; width: auto; color: white; ">Health: </span>
									<!--Player health-->
									<span class="player-hp text-start px-2" id="player-hp" style="font-size: 3vh; height: 4vh; width: auto; color: white;"></span>
								</div>
								<!--Player Attack row-->
								<div class="row" style="margin-top: 30px">
									<!--Player Attack icon-->
									<img class="align-self-end" style="height: 5vh; width: auto;" src="~/images/SwordIcon.png" alt="Attack Icon">
									<div class="text-start p-0" id="attack-label" style="font-size: 3vh; height: 4vh; width: auto; color: white; ">Attack:</div>
									<!--Player attack stat-->
									<div class="player-attack" id="player-attack" style="font-size: 3vh; padding-left: 10px; height: 4vh; width: auto; color: white; ">0</div>
								</div>
								<!--Player Defense row-->
								<div class="row" style="margin-top: 30px">
									<!--Player Defense icon-->
									<img class="align-self-end" style="height: 5vh; width: auto;" src="~/images/ShieldIcon.png" alt="Shield Icon">
									<span class="text-start p-0" id="defense-label" style="font-size: 3vh; height: 4vh; width: auto; color: white; ">Defense:</span>
									<!--Player Defense stat-->
									<span class="player-defense text-start" id="player-defense" style="font-size: 3vh; padding-left: 10px; height: 4vh; width: auto; color: white; ">0</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Respawn Modal -->
<div class="modal fade" id="respawnModal" tabindex="-1" aria-labelledby="respawnModalLabel" aria-hidden="true">
	<div class="modal-dialog PQBorder PQFont text-light">
		<div class="modal-content BackgroundColorDark p-2">
			<div class="modal-header" style="border:none;">
				<h5 class="modal-title" id="respawnModalLabel">You have been defeated!</h5>
				<button type="button" class="btn-close" style="color:white;" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" style="border:none;">
				Press the button below to respawn and fight again.
			</div>
			<div class="modal-footer" style="border:none;">
				<button type="button" class="btn MenuButton PQFont" onclick="respawnPlayer()">Respawn</button>
			</div>
		</div>
	</div>
</div>
<script>
	history.pushState(null, null, window.location.href);
	window.onpopstate = function() {
			history.go(1);
	};
</script>

<script src="~/js/Game.js"></script>