@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid BackgroundColorDark">
	<!-- Logo -->
	<div class="row justify-content-center mt-5">
		<!-- TODO: Make game logo responsive -->
		<img src="~/images/PromptQuestLogo.png" alt="The Prompt Quest logo" style="width:540px; height:auto;">
	</div>
	<!-- Title -->
	<div class="row text-center mb-3">
		<!-- TODO: Make Title class responsive -->
			<div class="Title">Prompt Quest</div>
	</div>
	<!-- New Adventure button -->
	<div class="row justify-content-center">
		<!-- TODO: Make MenuButton class responsive -->
		<form class="text-center">
			<button class="MenuButton" style="width: 351px; height: 79px; font-size: 26pt; margin: 21px" asp-controller="Game" asp-action="CreateCharacter">
				New Adventure
			</button>
		</form>
	</div>
</div>
