@{
	bool isUserLoggedIn = User.Identity?.IsAuthenticated == true;
	// Get User's profile image
	string userProfileImage = User.FindFirst("GoogleProfileImageUrl")?.Value;
	// Something went wrong, show the default image.
	if(userProfileImage == null) {
		userProfileImage = "";
	}
}

<!-- Login Display -->
<div class="pq-container">
	<div class="login-display" style="top: 0; left: 0; height: 8vmin; width: 20vmin;">
		@if(isUserLoggedIn) {
			<img src="@userProfileImage"/>
			<a class="pq-link" href="/Account/SignOutFromGoogleLogin">Logout</a>
		}
		else {
			<a class="pq-link" href="/Account/GoogleLogin">Login with Google</a>
		}
	</div>
	<div class="pq-container pq-center-element-x" style="width:50%; height:100%; top:0; left:50%;">
		<!-- Logo -->
		<img src="~/images/PromptQuestLogo.png" alt="The Prompt Quest logo" class="pq-center-element-x" style="height: 50%; width: auto; max-width: 100%; top:0; left:50%;">
		<!-- Title -->
		<div class="pq-title pq-center-element-x" style="height: 10%; width: max-content; top:50%; left:50%; overflow:hidden; max-width: 100%">Prompt Quest</div>
		<!-- New Adventure button -->
		<div class="action-button-display pq-center-element-x" style="height: 40%; width: 50%; bottom:0; left:50%;">
			<form class="text-center">
				<button class="pq-button" asp-controller="Game" asp-action="CreateCharacter">
					New Adventure
				</button>
			</form>
			<form class="text-center">
				@if(ViewBag.UserHasSavedGame) { //Enable button if user has a saved game.
					<button class="pq-button" id="continue-btn" asp-controller="Game" asp-action="Continue">
						Continue
					</button>
				} 
				else {// Disabled by default.
					<button class="pq-button" id="continue-btn" asp-controller="Game" asp-action="Continue" disabled>
						Continue
					</button>
				}
			</form>
			<form class="text-center">
				<button class="pq-button" asp-controller="Game" asp-action="About">
					About Us
				</button>
			</form>
		</div>
	</div>
</div>

<script src="~/js/Index.js" asp-append-version="true"></script>