@{
	bool isUserLoggedIn = User.Identity?.IsAuthenticated == true;
	// Get User's profile image
	string userProfileImage = User.FindFirst("GoogleProfileImageUrl")?.Value;
	// Something went wrong, show the default image.
	if(userProfileImage == null) {
		userProfileImage = "";
	}
}

<header>
	<!-- Login Display -->
	<div class="login-display pq-element">
		@if(isUserLoggedIn) {
			<img src="@userProfileImage" alt="User Profile Image" />
			<a class="pq-link" href="/Account/SignOutFromGoogleLogin">Logout</a>
		}
		else {
			<a class="pq-link" href="/Account/GoogleLogin">Login with Google</a>
		}
	</div>
</header>
<div class="container-fluid BackgroundColorDark">
	<!-- Logo -->
	<div class="row justify-content-center">
		<!-- TODO: Make game logo responsive -->
		<img src="~/images/PromptQuestLogo.png" alt="The Prompt Quest logo" class="AutoScale" style="height:50vh;">
	</div>
	<!-- Title -->
	<div class="row justify-content-center">
		<div class="PQFontTitle AutoScale" style="font-size:6vh">Prompt Quest</div>
	</div>
	<!-- New Adventure button -->
	<div class="row justify-content-center ">
		<div class="col-auto justify-content-center">
			<form class="text-center">
				<button class="MenuButton PQFont AutoScale" style=" height:7vh; font-size: 3vh; width:100%; margin-bottom: 3vh;" asp-controller="Game" asp-action="CreateCharacter">
					New Adventure
				</button>
			</form>
			<form class="text-center">
				<button class="MenuButton PQFont AutoScale" id="continue-btn" style=" height:7vh; font-size: 3vh; margin-bottom: 3vh; width:100%" asp-controller="Game" asp-action="Continue">
					Continue
				</button>
			</form>
			<form class="text-center">
				<button class="MenuButton PQFont AutoScale" style="height:7vh; font-size: 3vh; width:100%" asp-controller="Game" asp-action="About">
					About Us
				</button>
			</form>
		</div>
	</div>
</div>

	<script src="~/js/Index.js" asp-append-version="true"></script>
