@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<div class="text-center">
	<h1 class="text-danger">Error!</h1>
	<h2 class="text-danger">Sorry! Looks like you have encountered an error along your journey.</h2>

	@if (Model.ShowRequestId)
	{
		<div class="pq-font">
			<strong>Request ID:</strong> <code>@Model.RequestId</code>
		</div>
	}

	<div class="pq-font">Development Mode</div>
	<div class="pq-font">
		Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
	</div>
	<div class="pq-font">
		<strong>The Development environment shouldn't be enabled for deployed applications.</strong>
		It can result in displaying sensitive information from exceptions to end users.
		<br />
		For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
		and restarting the app.
	</div>

	<div class="d-flex justify-content-center align-items-center" style="min-height: 40vh;">
		<img src="~/images/PromptQuestLogo.png"
				 alt="The Prompt Quest logo"
				 class="img-fluid"
				 style="max-height: 200px; width: auto;" />
	</div>
</div>